/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.09.2015, 19:40:48
    Author     : chentsu
*/

.code {
	background: lightsteelblue;
	padding-left: 25px;
	border: 1px solid brown;
	width: 800px;
}